@import "@unocss/reset/tailwind.css";

@unocss all;

body {
    font-size: clamp(16px, 2.5vw, 1.5rem);
    line-height: 1.2;
    font-family: 'Exo 2 Variable', sans-serif;
}

html, body, #__next {
    @apply h-full;
}

.icon {
    @apply w-[32px] h-[32px];
}

.button-primary {
    border-image: linear-gradient(rgb(54, 193, 177), rgb(54, 193, 98)) 1;
    border-style: solid;
    border-width: 2px;
}

.react-select-container {
    .react-select {
        &__control {
            @apply bg-transparent rd-none;
        }

        &__single-value {
            @apply text-white;
        }

        &__menu {
            @apply bg-teal-700 dark:bg-gray-600 rd-none;
        }

        &__option--is-focused {
            @apply text-dark;
        }
    }
}