:443 {
    tls /srv/certs/cert.pem /srv/certs/private.pem
    root * /var/www/html
    encode gzip
    header remote_addr "{header.X-Forwarded-For}"

    handle /api* {
        reverse_proxy https://qrb-api.shalotts.site {
            health_path /health
            health_interval 10s
            transport http {
                tls
            }
        }
    }

    file_server {
        hide .git
    }

    handle_errors {
        rewrite * /index.html
        file_server
    }
}